/**/

div.currentInstallation {
    margin: 0 auto; 
}

table.installationData {
    border-collapse: collapse;
	text-align: center;
	line-height: 1.2;
    margin: 0 auto; 
}
table.installationData th {
	width: 25%;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	border: 1px solid #ccc;
}
table.installationData td {
	width: 75%;
	padding: 10px;
	vertical-align: top;
	border: 1px solid #ccc;
    overflow-x: auto;
}

/*ボタンサイズ*/
.btn{
   display: inline-block;
    color: #FFF;
    width: 47%;
    height: 30%;
    line-height: 400%;
    border-radius: 10%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;  
    background-image: linear-gradient(45deg, #709dff 0%, #91fdb7 100%);
    transition: .4s;
    margin-top: 2%;
    margin-bottom: 2%;
}


/*カルーセルサイズ*/
.cal{
  object-fit: contain;
    height: auto;
    width: 100%;
    margin-bottom: 2%;
     background-color : pink;
}

.map{
    object-fit: contain;
    height: 100%;
    width: 100%
   
}

/*ボタンサイズ*/
button.button1{
    /* 文字サイズを1.4emに指定 */
    font-size: 1.4em;
 
    /* 文字の太さをboldに指定 */
    font-weight: bold;
 
    /* 縦方向に10px、
     * 横方向に30pxの余白を指定 */
    padding: 10px 0px;
}

/*画像サイズ調整*/
.contain{
 object-fit: contain;
 width: 50px;
 height: 50px;
}

/*詳細画像サイズ調整*/
.detailImage{
  object-fit: contain;
  width: 300px;
  height: 200px;
  background-color: #cfc;
  border: 1px solid #cff;
  display: block;
 margin-left: auto;
 margin-right: auto;
}


/* checkbox02 */
input[type=checkbox] {
	display: none;
}
input[type="checkbox"].checkbox02:checked + label {
	background: #31A9EE;
	color: #ffffff;
}
.check_label:hover {
	background-color: #E2EDF9;
}
.check_label {
	display: block;
	float: left;
	margin: 5px;
	width: 100px;
	height: 45px;
	text-align: center;
	line-height: 45px;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
	color: #31A9EE;
	border: 2px solid 